.about{
    position: relative;
    margin-top: 40px;
}
.car-slider{
    position: absolute;
    top: 0px;
    right: 30px;
}
.aboutContent{
    margin-left: 100px;
}
.slider img{
    height: 250px;
    animation: none;
    animation-delay: none;
}
.slider{
    animation: none;
}
.carousel{
    height: 300px;
}
.separation2{
    height: 1px;
    background-color: gray;
    width: 1200px;
    margin-left: 80px;
    margin-top: 250px;
}
