.footer{
    background-color: #1743e3;
    padding: 5rem 10rem;
    width: auto;
}
h4{
    color: #fff ;
    font-weight: 700;
}
h5{
    color: white;
    font-weight: 500;
}
.detail{
    color: rgb(238, 237, 237);
    font-weight: 300;
    margin-bottom: 20px;
}
.social-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
    background-color: transparent;
    margin-right: -50px;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    /* opacity: 0; */
    animation: slide5ci .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover{
    border-color: #eaeaea;
}

.social-media a i {
    font-size: 24px;
    color: #eaeaea;
    transform: rotate(-45deg);
}
.footer ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(238, 237, 237);
    line-height: 25px;
    transition: text-decoration 2s ease;
}
.footer ul li:hover{
    text-decoration: underline;

}
.moreInfo1 {
    margin-left: 450px;
    margin-top: -220px;
    display: flex;
    flex-direction: row;
}
.moreInfo {
    margin-left: 50px;
}
.moreInfo h5{
    margin-left: 30px;
    margin-top: 35px;
}
.separation4{
    height: 1px;
    background-color: rgb(197, 196, 196);
    width: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 40px;
}
.endInfo{
    color: rgb(238, 237, 237);
}
.endInfo2{
    color: rgb(238, 237, 237);
    padding-left: 250px;
}
span{
    margin-right: 10px;
    margin-left: 10px;
}
@media (max-width: 600px){
    .footerInfo{
        margin-left: -70px;
    }
    .moreInfo1 {
        margin-top: 0px;
        margin-left: -150px;
        display: flex;
        flex-direction: row;
    }
    .separation4{
        width: auto;
        margin-left: -100px;
        margin-right: 20px;
    }
    .endInfo{
        margin-left: -90px;
    }
    .endInfo2{
        padding-left: 0px;
        margin-left: -90px;
        margin-top: 5px;
    }
}
@media (min-width: 601px) and (max-width: 767px){
    .footerInfo{
        margin-left: -30px;
    }
    .moreInfo1 {
        margin-top: 0px;
        margin-left: -100px;
        display: flex;
        flex-direction: row;
    }
    .separation4{
        width: 550px;
        margin-left: -100px;
        margin-right: 20px;
    }
    .endInfo{
        margin-left: -40px;
    }
    .endInfo2{
        padding-left: 0px;
        margin-left: -40px;
        margin-top: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .footerInfo{
        margin-left: -30px;
    }
    .moreInfo1 {
        margin-top: 0px;
        margin-left: -110px;
        display: flex;
        flex-direction: row;
    }
    .separation4{
        width: auto;
        margin-left: -100px;
        margin-right: 10px;
    }
    .endInfo{
        margin-left: -80px;
    }
    .endInfo2{
        padding-left: 0px;
        margin-left: 250px;
        margin-top: -24px;
    }
}
@media (min-width: 992px) and (max-width: 1115px){
    .footerInfo{
        margin-left: -30px;
    }
    .moreInfo1 {
        margin-left: 180px;
        margin-top: -220px;
        display: flex;
        flex-direction: row;
    }
    .separation4{
        width: auto;
        margin-left: -100px;
        margin-right: 10px;
    }
    .endInfo{
        margin-left: -80px;
    }
    .endInfo2{
        padding-left: 0px;
        margin-left: 30px;
    }
}